@import 'tailwindcss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Logo styling with height, padding, and smooth filter transition */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* Adding hover effects for logo */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Different hover effect for Vue-specific logo */
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

/* Loader Animation */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ff7f50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Ensures text truncation for long titles */
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Styling for vertical scrolling inside the modal */
.overflow-y-auto::-webkit-scrollbar {
  width: 3px; /* Thin scrollbar */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Light gray scrollbar thumb */
  border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent; /* Hide scrollbar track background */
}